@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import "https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
}
body{
    font-family: 'Signika';
font-size: 1.2rem;
min-height: 100%;
}
.header{
    grid-area: header;
    background-color: aquamarine;
    align-items: center;
}
.header img{
    max-width: 100%;
    
    height: 100%;
  
}
.navbar{
    grid-area: navbar;
    background-color: lightpink;
}
.principal{
    grid-area: main;
    background-color: lightcoral;
}
.sidebar{
    grid-area: sidebar;
    background-color: lightskyblue;
}
.footer{
    grid-area: footer;
    background-color: mediumspringgreen;
}
.contenedor > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.contenedor{
    display: grid;
    gap: 5px;
    grid-template:
    "header " 100px
    "navbar" 50px
    "main" auto
    "footer"  150px /
    auto;
    
}
@media(max-width:599px){
    .sidebar{
        display: none;
    }
    .header img{
        height: auto;
    }
}    

@media(min-width: 600px){
    .contenedor{
     /*   grid-template-columns: auto 200px;
        grid-template-rows: 100px 50px auto 150px;
        grid-template-areas:
        "header header"
        "navbar navbar"
        "main sidebar"
        "footer footer";*/
       
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "main main" auto
        "sidebar sidebar" 150px
        "footer footer" 150px /
        auto 200px;

    }
}

@media(min-width: 900px){
    .contenedor{

       
        grid-template:
        "header header" 100px
        "navbar navbar" 50px
        "main sidebar" auto
        "footer footer" 150px /
        auto 200px;

    }
}
@keyframes nav-links {
    0%{background-color: rgb(255, 255, 255);}
    25%{background-color: rgb(90, 0, 30);}
    50%{background-color: rgb(204, 204, 204);}
    100% {background-color: palevioletred;}
    
}
.nav-links{
    display: inline-block;
    color: #fff;
    background-color: deeppink;
    padding: 5px 15px;
    
    text-decoration: none;
    border-radius: 5px;
}
.nav-links:hover{
    display: inline-block;
    color: #fff;
    background-color: palevioletred;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;
    animation: nav-links;
    animation-duration: 2s;
}
.nav-seleccionado{
    display: inline-block;
    color: #fff;
    background-color: palevioletred;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;

}
aside li img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    
}
aside li{
    list-style: none;
       
}
li a{
    text-decoration: none;
    color: #000;
}
li a:visited{
    text-decoration: none;
    color: #000;
}