*{
    margin: 0;
    padding: 0;
    justify-content: center;
}
header{
    display: flex;
    justify-content: center;
}


.contenedor{
    display: grid;
    grid-template-rows: 2fr 1fr 4fr 2fr;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    justify-content: center;
    grid-template-areas: 
    'header header header header'
    'nav nav nav nav'
    'main main main aside'
    'carrusel carrusel carrusel carrusel'
    'footer footer footer footer';
}
.item{
    background-color: aqua;
    padding: 10px;
    text-align: center;
    border-color: #fff;
    border-width: 1px;
    justify-content: center;
}
.item-header{
    grid-area: header;
}
.item-nav{
    grid-area: nav;
    background-color: beige;
    padding: 10px ;
    display: flex;
    justify-content: center;
}
.item-main{
    grid-area: main;
}
.item-aside{
    grid-area: aside;
}
.item-carrusel{
    grid-area: carrusel;
}
.item-footer{
    grid-area: footer;
}
@media screen and (max-width:300px){
    .contenedor{
        grid-template-rows:repeat(4,2fr);
        grid-column: 1fr;
        grid-template-areas: 
        'main main main main';



    }
    .item-aside{
        display: none;
    }
    .item-nav{
        display: none;
    }
    .item-carrusel{
        display: none;
    }
    .item-header{
        display: none;
    }
}
@media screen and (max-width:480px){
    .contenedor{
        grid-template-rows:repeat(4,2fr);
        grid-column: 1fr;
        grid-template-areas: 
        'nav nav nav nav'
        'main main main main'
        'main main main main'
        'main main main main'
        'aside aside aside aside'
        'footer footer footer footer';

    }
    .item-carrusel{
        display: none;
    }
    .item-header{
        display: none;
    }
}

@media screen and (max-width:760px){
    .contenedor{
       
        grid-template-areas: 
        'header header header header'
        'nav nav nav nav'
        'main main main main'
        'carrusel carrusel carrusel carrusel'
        'aside aside aside aside'
        'footer footer footer footer';
    }
  
}
@keyframes nav-links {
    0%{background-color: rgb(255, 255, 255);}
    25%{background-color: rgb(90, 0, 30);}
    50%{background-color: rgb(204, 204, 204);}
    100% {background-color: palevioletred;}
    
}



nav{
    background-color: beige;
    padding: 10px ;
    display: flex;
    justify-content: center;
}
.nav-links{
    display: inline-block;
    color: #fff;
    background-color: deeppink;
    padding: 5px 15px;
    
    text-decoration: none;
    border-radius: 5px;
}
.nav-links:hover{
    display: inline-block;
    color: #fff;
    background-color: palevioletred;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;
    animation: nav-links;
    animation-duration: 2s;
}
.nav-seleccionado{
    display: inline-block;
    color: #fff;
    background-color: palevioletred;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;

}