@media(max-width:599px){
  
    .header img{
        height: auto;
    }
    .logo{
        display: none;
    }
    .navbar{
        display: inline-flex;
    }
   
}    

@media(min-width: 600px){
    .contenedor{
      
        grid-template:
        "header header" 75px
        "main main" auto
        "sidebar sidebar" 150px
        "footer footer" auto /
        auto 200px;

    }
    .contenedor-footer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}

@media(min-width: 900px){
    .contenedor{
      
        grid-template:
        "header header" 75px
        "main ma" auto
        "footer footer" auto /
        auto 200px;

    }
    .contenedor-footer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}