@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap');
@import "https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css";
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html{
    height: 100%;
}
html li{
    list-style: none;
}
body{
    font-family: 'Signika';
font-size: 1.2rem;
min-height: 100%;
}
.header{
    grid-area: header;
    background-color: #A7BED3;
    align-items: center;
}
header nav{
    
    padding-top: 20px;
    align-content: center;
}
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
.logo {
    width: 100px;
    height: auto;
    background-color: slategray;
    border-radius: 5px;
    padding: 3px;
  }
  
  .menu {
    list-style-type: none;
    margin: 0;
    
    display: flex;
  }
  
  .menu li {
    margin-right: 5px;
  }
  
  .nav-links{
    display: flex;
    color: #fff;
    background-color: grey;
    padding: 5px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}
.nav-links:hover{
    display: inline-block;
    color: #fff;
    background-color: lightgray;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;
    animation: nav-links;
    animation-duration: 2s;
}
.nav-seleccionado{
    display: flex;
    color: #fff;
    background-color: rgba(255, 0, 13, 0.664);
    padding: 5px 15px;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;

}

.header img{
    max-width: 100%;
    
    height: 100%;
  
}

.principal{
    grid-area: main;
    background-color: #A7BED3;
}
.sidebar{
    grid-area: sidebar;
    background-color: #A7BED3;
}
.footer{
    grid-area: footer;
    background-color: #A7BED3;
    color: #416165;
    display: flex;
}
.contenedor > *{
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
.contenedor{
    display: grid;
    gap: 5px;
    grid-template:
    "header " 75px
    "main" auto
    "sidebar" auto
    "footer"  auto /
    auto;
    
}
/* FOOTER */ 
footer {
    background-color: #A7BED3;
    color: #416165;
    display: flex;
}

div>h2 {
    color: #0B3948;
}
.contenedor-footer {
   
    display: grid;
    
    grid-template-columns: none;
    gap: 10px;
}

.titulo-footer {
    font-weight: 300;
    display: inline-block;
    padding-bottom: .6rem;
    margin: 1rem 0;
    position: relative;
}

.titulo-footer::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: .2rem solid #0000e6;
}

/* FOOTER */ 
@media(max-width:599px){
  
    .header img{
        height: auto;
    }
    .logo{
        display: none;
    }
    .navbar{
        display: inline-flex;
    }
   
}    

@media(min-width: 600px){
    .contenedor{
      
        grid-template:
        "header header" 75px
        "main main" auto
        "sidebar sidebar" auto
        "footer footer" auto /
        auto 300px;

    }
    .contenedor-footer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

}

@media(min-width: 900px){
    .contenedor{
      
        grid-template:
        "header header" 75px
        "main sidebar" auto
        "footer footer" auto /
        auto 300px;

    }
    .contenedor-footer{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}
@keyframes nav-links {
    0%{background-color: rgb(255, 255, 255);}
    25%{background-color: rgb(90, 0, 30);}
    50%{background-color: rgb(204, 204, 204);}
    100% {background-color: palevioletred;}
    
}

aside li img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    
}

li a{
    text-decoration: none;
    color: #000;
}
li a:visited{
    text-decoration: none;
    color: #000;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
  }
  .galeria img {
    width: 100%;
    height: auto;
    
  }
  .foto{
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
  }
  .foto img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  label{
    width: 100%;
    display: block;
    padding-bottom: 10px; 
}
/* #formulario{
    margin-left: 20%;
} */
main{
 display: flex;
 justify-content: center;
 align-items: center;
}
#main-section{
    border: 3px red solid;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    /* width: 100vw; */
    padding: 20px 0;
}



#form-registro{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    align-items: center;
    background: #e2e2e2;
    padding: 35px;
    border-radius: 10px;
}

.subtitle{
    padding: 15px 0 30px;
    color: grey;
}
.form-group{
    padding: 10px 15px;
}
.input{
    padding: 8px 15px;
    border: solid 1px grey;
    border-radius: 5px;
}

#main-section .section:first-child{
    max-width: 600px;
}
.form-group:last-child{
    width:100%;
}

.marco-slider{
    display: inline-block;
    width: auto;
    height: auto;
    margin: 50px auto 0px;
   
   overflow: hidden;
 
}

.marco-slider ul{
    display: flex;
    padding: 3px;
    width: 400%;
    animation: slide 16s infinite ease-in-out;
}

.marco-slider li{

    width: 100%;
    padding-right: 3px;
    
}

.marco-slider img{
    
    width: 100%;
    
}

@keyframes slide{
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}

    
}

.contenido-aside{
    margin-top: 15px;
    padding: 5px;
    background-color: rebeccapurple;
}

.nosotros li img{
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    
}

.nosotros ul{
    padding-top: 15px;
    padding: 5px;
}
.nosotros li{
    
    width: 500px;
    padding: 10px;
    background-color: lightgoldenrodyellow;
    display: inline-block;
    border-radius: 15px;
    
       
}
.nosotros li a{
    text-decoration: none;
    color: #000;
}
.nosotros li a:visited{
    text-decoration: none;
    color: #000;
}
.nosotros p{
    background-color: lightgray;
}



/* .sobre-mi{
    
    
} */
.redes-sociales {
    display: inline-flex;
    gap: 1rem;
    margin: 30px auto 10px auto;
    

}


.redes-sociales a {
    
    padding: .6rem;
    background-color: lightslategray;
    color: blue;
    border-radius: .5rem;
}

.redes-sociales a:hover {
    background-color: lightblue;
}

.fa-brands {
    font-size: 1.3rem;
}

.navegacion {
    height: 300px;
    border: 10px;

}


.navegacion li a {
    width: 110px;
    background-color: lightslategray;
    border-radius: .5rem;
    padding: 6px;
    display: inline-block;
    margin-bottom: 0.8rem;

}

.navegacion li a:hover {
    display: inline-block;
    color: #fff;
    background-color: lightgray;
    padding: 5px 15px;
    text-decoration: none;
    border-radius: 5px;
    text-shadow: black;
    animation: nav-links;
    animation-duration: 2s;
}
.imagen-aside{
    width: 350px;
}.container-aside {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    
}

.container-aside a {
    width: 100%;
    height: 300px;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.container-aside a:first-child {
    z-index: 1;
    opacity: 1;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+a {
    z-index: 2;
    opacity: 1;
}

.formulario{
   display: flex;
   width: 350px;
   border-color: #000;
   border: 5px;
}

.boton{
    width: 100px;
    height: 40px;
    font-family: 'Signika';
    font-size: 1em;
}
.boton:hover{
    background-color: chartreuse;
}